.before-main
	.wrapper
		a(href='#').wrapper__link.active Official website
		a(href='#').wrapper__link.active Get tickets
		a(href='#').wrapper__link.active Watch trailer
		p.wrapper__text.active A superhero-loving boy without any powers <br/>is determined to enroll in a prestigious hero academy <br/>iand learn what it really means to be a hero.
	



