footer.footer
	h1.navbar__heading.heading--normal aNIMEwElOVE

	.footer__col-2
		h3.footer__col-2__heading.active Corporate
		h3.none-active Lorem
		h3.none-active Lorem
		h3.none-active Lorem
		h3.none-active Lorem

	.footer__col-3
		h3.footer__col-3__heading.active Sitemap
		a.navbar__links__link.none-active(href='#') Movies
		a.navbar__links__link.none-active(hred='#') TV
		a.navbar__links__link.none-active(hred='#') At home
		a.navbar__links__link.none-active(hred='#') Corporate

	.footer__col-4
		h3.footer__col-4__heading.active Subsribe
		p.none-active Enter your e-mail to get notifed about latest <br/>news and releases
		.footer__col-4__input-wrapper
			input(type='email' placeholder="Enter your e-mail ")
			svg.footer__col-4__input-wrapper__icon.icons
				use(xlink:href='assets/images/symbol-defs.svg#icon-arrow-right2')

	.navbar__sns
		svg.navbar__sns__icon.icons
			use(xlink:href='assets/images/symbol-defs.svg#icon-twitter')
		svg.navbar__sns__icon.icons
			use(xlink:href='assets/images/symbol-defs.svg#icon-facebook')
		svg.navbar__sns__icon.icons
			use(xlink:href='assets/images/symbol-defs.svg#icon-youtube')

