header 
    .side-bar
        h3.small-heading.active Popular choices
        .bookmark.bookmark--1(data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine")
            .bookmark__overview
                img.bookmark__overview__img(src='assets/images/bokunohero-1.jpg?noresize')
                .overview__content
                    h2.bookmark__overview__content__title.active Boku no hero academia
                    p.bookmark__overview__content__text.none-active Now On Screens
                svg.bookmark__overview__icon.icons
                    use(xlink:href='assets/images/symbol-defs.svg#icon-price-tags')
        .bookmark.bookmark--2(data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="150")
            .bookmark__overview
                img.bookmark__overview__img(src='assets/images/attack-1.jpg?noresize')
                .overview__content
                    h2.bookmark__overview__content__title.active Attack on titan
                    p.bookmark__overview__content__text.none-active Now On Screens
                svg.bookmark__overview__icon.icons.bookmarked
                    use(xlink:href='assets/images/symbol-defs.svg#icon-price-tags')
        .bookmark.bookmark--3(data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="250")
            .bookmark__overview
                img.bookmark__overview__img(src='assets/images/tokyo-1.jpg?noresize')
                .overview__content
                    h2.bookmark__overview__content__title.active Tokyo Ghoul
                    p.bookmark__overview__content__text.none-active Now On Screens
                svg.bookmark__overview__icon.icons.bookmarked
                    use(xlink:href='assets/images/symbol-defs.svg#icon-price-tags')
                    
        h1.anime-title.active Boku no <br />hero academia


    img.slider-1(src='assets/images/slider1-1.jpg?noresize' data-aos="zoom-in")
    svg.slider-icon-play
        use(xlink:href='assets/images/symbol-defs.svg#icon-play2')
    
    .slide-arrows
        svg.slider-arrows__l.icons.cta
            use(xlink:href='assets/images/symbol-defs.svg#icon-arrow-left2')
        svg.slider-arrows__r.icons.cta
            use(xlink:href='assets/images/symbol-defs.svg#icon-arrow-right2')
    .slider-controller
        .slider-controller__dot.current
        .slider-controller__dot
        .slider-controller__dot
        .slider-controller__dot




                            
            