main
	.article.article--1(data-aos="fade-left")
		.article__links
			a(href="#").article__links__link.active All articles
			a(href="#").article__links__link.none-active Press releases
		.article__pic
			img.article__pic__img(src='assets/images/tokyo-3.jpg?noresize')
			svg.article__pic__icon.icons.cta.i1
						use(xlink:href='assets/images/symbol-defs.svg#icon-arrow-right2')
		.article__content.con1
			p.article__content__date.active.d1 05.10.2017
			h1.article__content__title.active Tokyo Ghoul
			p.article__content__text.none-active A Tokyo college student is attacked by a ghoul, a superpowered <br/>human who feeds on human flesh. He survives, but has become part <br/>ghoul and becomes a fugitive on the run.
	
	.article(data-aos="fade-left")
		.article__pic
			img.article__pic__img(src='assets/images/attack-2.jpg?noresize')
			svg.article__pic__icon.icons.cta
						use(xlink:href='assets/images/symbol-defs.svg#icon-arrow-right2')
		.article__content
			p.article__content__date.active 02.08.2017
			h1.article__content__title.active Attack on titan
			p.article__content__text.none-active After his hometown is destroyed and his mother is killed, <br/>young Eren Yeager vows to cleanse the earth of the giant humanoid <br/>Titans that have brought humanity to the brink of extinction.
	
	.article(data-aos="fade-right")
		.article__pic
			img.article__pic__img(src='assets/images/one-punch-4.jpg?noresize')
			svg.article__pic__icon.icons.cta
						use(xlink:href='assets/images/symbol-defs.svg#icon-arrow-right2')
		.article__content
			p.article__content__date.active 01.11.2017
			h1.article__content__title.active One punch man
			p.article__content__text.none-active The story of Saitama, a hero that does it just for fun <br/>and can defeat his enemies with a single punch.
		.news
			svg.news__icon.icons
						use(xlink:href='assets/images/symbol-defs.svg#icon-earth')
			a(href='#').news__link.active Browse more news

	.logo(data-aos="fade-right")
		h1.logo__year.active 2017
		h2.logo__title.active official anime <br/>news and press

	.trailer(data-aos="zoom-in-down")
		img.trailer__img(src="assets/images/onepunch-2.jpg?noresize" data-aos='fade-up' data-aos-delay="200")
		svg.trailer__icon.icons
				use(xlink:href='assets/images/symbol-defs.svg#icon-play2' data-aos='fade-up' data-aos-delay="200")
		.trailer__text(data-aos='fade-up' data-aos-delay="200")
			h1.trailer__text__heading.active Watch trailer
			p.trailer__text__time.none-active 01:35




