.navbar
    h1.navbar__heading.heading--normal aNIMEwElOVE
    .navbar__links
        a.navbar__links__link(href='#') Movies
        a.navbar__links__link(hred='#') TV
        a.navbar__links__link(hred='#') At home
        a.navbar__links__link(hred='#') Corporate
    .navbar__search
        svg.navbar__search__icon.icons
            use(xlink:href='assets/images/symbol-defs.svg#icon-search')
        input.navbar__search__input(type='text')
    .navbar__night-mode
        a.navbar__links__link(href='#').none-active Night Mode
        a.navbar__links__link(href='#').active On
    .navbar__sns
        svg.navbar__sns__icon.icons
            use(xlink:href='assets/images/symbol-defs.svg#icon-twitter')
        svg.navbar__sns__icon.icons
            use(xlink:href='assets/images/symbol-defs.svg#icon-facebook')
        svg.navbar__sns__icon.icons
            use(xlink:href='assets/images/symbol-defs.svg#icon-youtube')

a.mobile-menu
    .mobile-menu__btn.mobile-menu__btn--top
    .mobile-menu__btn.mobile-menu__btn--middle
    .mobile-menu__btn.mobile-menu__btn--bottom




