section.shows(data-aos="flip-up")
	.row-1
		.col-1
			.wrapper
				img.wrapper__img(src='assets/images/naruto.png?noresize')
				svg.wrapper__icon.icons.cta.icons--shows
						use(xlink:href='assets/images/symbol-defs.svg#icon-arrow-right2')
			.title
				h2.title__heading.active Naruto
				p.title__text.none-active Thu Jan 5 9/8C

		.col-2
			.col-2__text
				h2.col-2__text__heading.active Stream your <br/>favorite shows
				p.col-2__text__paragraph.active Watch popular title on demand

	.row-2
		.news.shows1
			svg.news__icon.shows1.icons
				use(xlink:href='assets/images/symbol-defs.svg#icon-tv')
			a(href='#').news__link.show1s.active Browse more movies

		p.row-2__description.active Naruto Uzumaki, an adolescent ninja, struggles as <br/>he searches for recognition and dreams of becoming <br/>the Hokage, the village's leader and strongest ninja.

		.row-2__shows
			.show 
				img.show__img(src='assets/images/eva.jpg?noresize')
				h2.show__title.active Evangelion
				p.show__text.none-active Stream Now
			.show 
				img.show__img(src='assets/images/gto.jpg?noresize')
				h2.show__title.active Great Teacher Onizuka
				p.show__text.none-active Stream Now
			.show 
				img.show__img(src='assets/images/bleach.jpg?noresize')
				h2.show__title.active Bleach
				p.show__text.none-active Stream Now


	
	