html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Welcome to Ukyo

	body
		include _includes/preloader.pug
		include _includes/navbar.pug
		include _includes/header.pug
		include _includes/before-main.pug
		include _includes/main.pug
		include _includes/movies.pug
		include _includes/shows.pug
		include _includes/footer.pug
		